header {
  background: #d87093;
}
.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}
nav {
position: absolute;
top: 110px;
right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px ;
}
nav a {
  text-transform: uppercase;
  color: rgb(248, 246, 246);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none; 
}

nav a:hover{
  color: #e6c7d2;
}
  
.produtos{
  width: 940px;
  margin: 0  auto;
  padding:  50px 0 ;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px ;
  box-sizing: border-box;
  border: 2px solid #e6c7d2;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #d87093;

}
.produtos li:active{
  border-color:#088c19;
}
.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}
.produto-preço{
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0;
  margin-top: 10px;
}
.produto-descrição {
  font-size: 20px;
}
footer {
  text-align: center;
  background: url(bg.jpg);
  padding: 40px 0;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px
}


.petshop {
  width: 100% ;
}

.logo-img {
  width: 250px;
 }

.produtos li {
  background-color: #FFFFFF;
}

.titulo-principal {
text-align: center;
font-size: 2em;
margin: 0 0 1em ;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
 font-weight: bold; 
}

.principal em {
  font-style:italic
}

.beneficios {
  width: 59%;
  opacity: 1;
  object-fit: cover;

  
}
 .beneficios:hover {
  opacity: 0.3;
 }

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}


.itens {
  line-height: 1.5;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "★";
}

.imagem-beneficios {
  width: 60%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(#f6cedb, #f8f2f4);

}
.mapa {
  padding: 3em 0;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center ;
  
}
.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.principal {
  padding: 3em 0;
  width: 940px;
  margin: 0 auto;
}
.video {
  width: 560px;
  margin: 2em auto;
}

@media screen and (max-width: 480px) {
  .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
      width: auto;
  }

  h1 {
      text-align: center;
  }

  nav {
      position: static;
  }

  .lista-beneficios, .imagem-beneficios {
      width: 100%;
  }
}
.banho-pet {
  width: 250px;
  height: 250px;
  object-fit: cover;
}